Checks: '-*,readability-identifier-naming,modernize-*, -modernize-use-trailing-return-type,-modernize-use-nodiscard'

CheckOptions:
        # Readability Checks
        - { key: readability-identifier-naming.ClassCase,     value: CamelCase  }
        - { key: readability-identifier-naming.VariableCase,  value: camelBack }
        - { key: readability-identifier-naming.ParameterCase, value: camelBack }

        # Modernize Checks
        - { key: modernize-use-auto, value: 'true' }
        - { key: modernize-use-nullptr, value: 'true' }
