BasedOnStyle: Microsoft
AllowShortFunctionsOnASingleLine: Inline
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: Never
  AfterFunction:   true
  SplitEmptyFunction: false
IndentWidth: 4
PointerAlignment: Right
RemoveBracesLLVM: false
SeparateDefinitionBlocks: Always
TabWidth: 4
UseTab: Always
